/*presetando*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/fundograma.jpg);
    background-attachment:fixed;
    background-size:cover;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(26, 82, 54, 0.8);
    color: rgb(255, 238, 0);
}

a {
    text-decoration: none;
    color: rgb(255, 238, 0);
}

a:hover{
    color: blue;
}

nav {
    margin:10px;
    background-color: rgba(36, 65, 50, 0.878);
    padding:10px;
   text-align: center;
   border-radius: 15px;
   border:solid 2px;
   border-color: rgb(255, 238, 0);
    
}


/*centralizando o conteudo*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*logo*/
header{
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 30px;
    padding: 100px 0 100px 0;
    font-size: 30px;
    background-image: url(imgs/bannerlogo.jpg);
    background-size: cover;
    flex-direction: column;
}

header p {
    font-size: 20px;
    color: rgb(255, 238, 0);
}


/*formulario*/
form{
    border: solid 2px;
    padding: 100px;
    display: flex;
    justify-content: center;
    background-color: rgba(36, 65, 50, 0.878);
    border-radius: 50px;
}

legend{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

input , select {
    background-color: rgb(48, 47, 47);
    color: rgba(179, 179, 179, 0.74);
    border: none;
    padding: 5px;
}

fieldset{
    border: none;;
}

input[type="button"]{
    background-color: rgb(48, 47, 47); 
    color: rgb(255, 238, 0);
    font-weight: 700;
    border: 1px solid;
    padding: 10px 40px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(24, 24, 24);
}

#botao-login {
    text-align: center;
    
}

.link-opcoes {
    background-color: rgba(36, 65, 50, 0.878);
    border-radius: 15px;
    border:solid 2px;
    margin: 10px;
   padding:10px;
}

.linha {
    padding: 2px;
}


/* Estiliza as linhas */
#linha_horizontal {
    border:ridge;
    border-color: rgb(0, 0, 0);
    width: 100%;
}